services:
  postgres:  
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: directory_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
    - postgres-data:/var/lib/postgresql/data

  seq:
    container_name: seq
    image: datalust/seq:latest
    ports:
      - "5341:5341"
      - "8080:80"
    environment:
      ACCEPT_EULA: 'Y' # Required to accept the Seq End User License Agreement
      SEQ_FIRSTRUN_NOAUTHENTICATION: 'true'
    restart: always 
    
volumes:
  postgres-data:  
  
  
